:root {
    --border-color: oklch(90% 0 0);
    --border-color-strong: oklch(85% 0 0);
}

body {
    margin: 0;
    padding: 0;
}

header {
    padding: 0 20px 10px 20px;
    background-color: oklch(99% 0 0);
    border-bottom: 2px solid var(--border-color);
    height: 60px;
}
header h2 {
    line-height: 0;
}

.centre-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
}
table, td, th {
    padding: 1em 4em;
    border: 2px solid var(--border-color);
}

.modal {
    visibility: hidden;
    position: fixed;
    width: 100%;
    top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-body {
    background-color: oklch(95% 0 0);
    border: 2px solid var(--border-color);
    border-radius: 20px;
    padding: 0 20px 20px 20px;
    filter: drop-shadow(5px 5px 5px var(--border-color))
}

.modal-body form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-body form div label {
    display: block;
}

.modal-body form button {
    margin: 0;
    border-color: var(--border-color-strong);
    border-radius: 10px;
    padding: 0.5em 1em;
    background-color: oklch(90% 0 0);
    font-weight: 600;
}

.modal.visible {
    visibility: visible;
}

button {
    margin: 25px;
    border-color: var(--border-color-strong);
    border-radius: 10px;
    padding: 0.5em 1em;
    background-color: oklch(90% 0 0);
    font-weight: 600;
}